<?xml version="1.0"?>
<robot name="gen3_lite" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================= ARGUMENTOS ================= -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="simulation_controllers" default=""/>

  <!-- ================= INCLUDE ================= -->
  <xacro:include filename="gen3_lite_macro.xacro"/>

  <!-- ================= INSTANCIA DEL ROBOT ================= -->
  <xacro:gen3_lite_arm
      p="$(arg prefix)"
      ns="$(arg namespace)"
      controllers="$(arg simulation_controllers)"/>

</robot>
